body {
  font-family: roboto, sans-serif;

}

.navbar {
  background-color: #292726;
}

#cabecalho .nav .nav-link.active {
  background-color: #fff;
  color: #e15f41;
} 

.navbar-toggler:hover {
  border: 2px #e8e5e5 solid;
  background-color:#e8e5e5 ;
  color: #e8e5e5;
}

.navbar-toggler {
  background-color:#e8e5e5 ;
  color: #e8e5e5;
}

#cabecalho .nav 
.nav-link,.navbar-bland,
.nav-cardapio .nav-link.active:hover
{
  color:#fff; 

}

.navbar-bland {
  font-family: Pacifico,cursive;
}

.titleFonte {
  font-family: Pacifico,cursive;
}

.text-colab {
  color: #b63411;
  
}

.nav .nav-link {
  margin-top: 15px;
  text-align: center;
  align-items: center;
}

#sobre-a-academia, #cardapio {
  background-color:#f3ebea ;
}

.btn {
  padding-left: 20%;
  padding-right: 20%;
  top: -90px;
  left: 120px;
}
.btn-transparent {
  background-color: transparent;
  color: #ffeae6;
  border: 1px solid #c72808;
  color: #a91a10;
}

.btn-transparent:hover {
  background-color:#c72808; 
  color: #c72808;
}

.nav-cardapio .nav-link.active {
  background-color: #e15f41;
  color:#fff; 
}

.nav-cardapio .nav-link:hover {
  color: #e15f41;
}

.icon-sociais li  {
  list-style: none;
  display: inline;
}

.icon-sociais a {

  text-decoration: none;
}

.faleEndereco a {
  text-decoration:none;

}

.btn {
  width: 110px;
  max-width: 200px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #c72808;
  color: #ffeae6;
  
}

.btn:hover {
  background-color: #e15f41;
  color: #ffeae6;
}

.background-color-interface  {
  background-color: #292726;
}

body {
  background-color: #292726;
}

@media (max-width:767px)  {
  header {
    background-color: #83665f;
    padding-bottom: 20px;
  }

  .text-white button {
    margin-bottom: 30px;

  }

  .container {
    margin-right: 20px;


  }
  .navbar {
    padding-bottom:0px ;
  }

  .carousel-item img {
    height: 330px;
  }
}

